<div class="tick-it-easy-footer">
    <div class="footer-content">
        <div><a href ="">About</a></div>
        <div><a href ="">Gallery</a></div>
        <div><a href ="">Privacy policy</a></div>
        <div><a href ="">Projects</a></div>
    </div>
</div>
