.card-main-info{
    display: flex;
    justify-content: space-between;
}
.tick-it-easy-card{
    width: 320px;
    border-radius: 10px;
    height: 120px;
    background-color: white;
    margin: 10px 0px;
    color:black;
}
.travel-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding: 0px auto;
}

@media only screen and (max-width: 400px) {
    .travel-cards {
        display: flex;
        justify-content: center;
        flex-wrap:wrap;
        padding: 0px auto;
    }
  }
.card-last-row{
    display: flex;
}
.create-icon{
    margin: 0px 10px 0px auto;
    background-color: transparent;
    border:0;
}

.delete-icon{
    background-color: transparent;
    border:0;
}