<!-- <div class="tick-it-easy-navbar">
    <div class="navbar-content">
        <button mat-icon-button [matMenuTriggerFor]="menu" class ="menu-button"><mat-icon class="hamburger-icon">menu</mat-icon></button>
        <mat-menu #menu="matMenu">
            <a id="main-page-routing" mat-menu-item [routerLink]="['']">Main Page</a>
            <a id="purchase-tickets-page-routing" mat-menu-item [routerLink]="['purchase']">Purchase Tickets</a>
            <a id="my-journey-page-routing" mat-menu-item>My journey</a>
            <a id="settings-page-routing" *ngIf="auth.loggedIn" mat-menu-item [routerLink]="['profile']">Profile</a>
        </mat-menu>
        <div class="navbar-title"><span class="navbar-bkk">BKK</span>Tickit Easy</div>
        <button class="login-button" (click)="auth.login()" *ngIf="!auth.loggedIn"><span class="sign-up">Sign up</span><span class="log-in"> or log in</span></button>
        <div class="profile-name" *ngIf="auth.userProfile$ | async as profile">WELCOME! {{ profile.name}}</div>
        <button class="logout-button" (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>
    </div>
</div> -->

<div class="tick-it-easy-navbar">
    <div class="flex justify-between navbar-content p1">
        <div class="flex justify-between items-center">
            <button mat-icon-button [matMenuTriggerFor]="menu" class ="menu-button">
                <mat-icon class="hamburger-icon">menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <a id="main-page-routing" mat-menu-item [routerLink]="['']">Main Page</a>
                <a id="purchase-tickets-page-routing" mat-menu-item [routerLink]="['purchase']">Purchase Tickets</a>
                <a id="my-journey-page-routing" mat-menu-item>My journey</a>
                <a id="settings-page-routing" *ngIf="!isLoggedIn" mat-menu-item [routerLink]="['profile']">Profile</a>
            </mat-menu>
        <div class="navbar-title"><span class="navbar-bkk">BKK</span>Tickit Easy</div>
        </div>
        <div class="flex justify-center items-center login-button" *ngIf="!isLoggedIn">
            <a class="text-decoration-none inherit" [routerLink]="['register']"><span class="sign-up">Sign up</span></a>
            <a class="text-decoration-none inherit" [routerLink]="['login']"><span class="log-in"> or log in</span></a>
        </div>
        <div class="flex items-center profile-name" *ngIf="isLoggedIn">WELCOME! {{ currentUser.fullName }}</div>
        <button class="logout-button" (click)="logout()" *ngIf="isLoggedIn">Log Out</button>
    </div>
</div>