.tick-it-easy-navbar{
    background-color: #0000cc;
}
.navbar-content{
    // display: flex;
    // height:  30px;
    // max-width:1300px;
    // padding: 10px 10px;
    // margin: 0px auto;
    // align-items: center;
}
.menu-button{
    background-color: transparent;
    border:0;
    outline: 0;
    color:white;
    cursor: pointer;
    display:table-cell;
}

.hamburger-icon{
    vertical-align: middle;
}

.navbar-title{
    color:white;
    font-size: 20px;
    width: 200px;
}
.navbar-bkk{
    font-weight: 800;
    padding: 0px 5px;
}

.login-button{
    margin-left:auto;
    margin-right:5px;
    background-color: transparent;
    border:1px solid white;
    outline: 0;
    color:white;
    font-size: 16px;
    cursor: pointer;
    padding: 2px;
    width: 152px;
}

.logout-button{
    //margin-left:auto;
    margin-right:0;
    background-color: transparent;
    border:1px solid white;
    outline: 0;
    color:white;
    font-size: 16px;
    cursor: pointer;
    padding: 3px;
}
.sign-up{
    font-weight:800;
}
.log-in{
    padding-left: 10px;
    text-decoration: underline;
}

.profile-name{
    max-width:300px;
    color: white;
    font-size: 20px;
    margin-left:auto;
    margin-right:10px;
}

.inherit {
    color: inherit;
}