<div class="flex justify-center items-center register-page-container">
    <div class="flex-column items-center justify-center register-page-box p3">
        <div class="flex justify-center">
            <h3 class="register-page-title">Sign Up!</h3>
        </div>
        <form class="m2" [formGroup]="formGroup">
            <mat-form-field class="register-form-field" appearance="outline">
                <mat-label class="register-page-label">Enter your name:</mat-label>
                <input type="text" placeholder="Full name" formControlName="nameFormControl" matInput>
            </mat-form-field>
            <mat-form-field class="register-form-field" appearance="outline">
                <mat-label class="register-page-label">Enter email address:</mat-label>
                <input type="email" placeholder="Email address" formControlName="emailFormControl" matInput>
            </mat-form-field>
            <mat-form-field class="register-form-field" appearance="outline">
                <mat-label class="register-page-label">Enter your password</mat-label>
                <input type="password" class="mat-input-fields" formControlName="passwordFormControl" matInput>
            </mat-form-field>
        </form>
        <div class="flex justify-center">
            <button class="register-page-submit" mat-raised-button (click)="register()">Sign up</button>
        </div>
    </div>
</div>