/**
    Material Design css rules
**/

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #0000cc !important;
 }

::ng-deep.mat-input-element{
    caret-color:#0000cc;
    border-color: #0000cc;
}

::ng-deep.mat-form-field-appearance-outline{
  color:#0000cc !important;
}

::ng-deep.mat-form-field-outline {
  color: #0000cc !important;
}

/**
    Custom css rules
**/

.register-page-container {
   height: 90vh;
}

.register-page-box {
   border-radius: 10px;
   border: 3px solid #0000cc;
   background-color: white;
}

.register-page-submit {
   max-width: 360px;
   background-color: #eeeeee;
   border: 2px solid #0000cc;
   color: #0000cc;
   font-size: 1.5rem;
}

.register-page-title {
   color: #0000cc;
   font-size: 1.5rem;
}

.register-page-label {
   color: #0000cc;
   font-size: 18px;
}

.register-form-field {
    width: 100%;
}