<div class="flex justify-center items-center login-page-container">
    <div class="flex-column items-center justify-center login-page-box p3">
        <div class="flex justify-center">
            <h3 class="login-page-title">Login</h3>
        </div>
        <form class="m2" [formGroup]="formGroup">
            <mat-form-field class="login-form-field " appearance="outline">
                <mat-label class="login-page-label">Enter email address:</mat-label>
                <input type="email" placeholder="Email address" formControlName="emailFormControl" matInput>
            </mat-form-field>
            <mat-form-field class="login-form-field " appearance="outline">
                <mat-label class="login-page-label">Enter your password</mat-label>
                <input type="password" class="mat-input-fields" formControlName="passwordFormControl" matInput>
            </mat-form-field>
        </form>
        <div class="flex justify-center">
            <button class="login-page-submit" mat-raised-button (click)="login()">Login</button>
        </div>
    </div>
</div>