<h1 mat-dialog-title style="text-align:center;">{{data.name}} {{data.type}} your cart!</h1>
<div mat-dialog-actions>
    <button mat-button style="border:0;border-radius:10px;font-size: 20px;margin:12px 74px auto;background-color: white;"(click)="onNoClick()">Ok!</button>
</div>
