.tick-it-easy-purchase-tickets{
    display: flex;
    max-width:1200px;
    margin:0px auto;
    height:85%;
}
.purchase-tickets-content{
    max-width: 1200px;
}
.purchase-tickets-title{
    font-size: 40px;
    font-weight: 800;
    margin: 80px 0px 50px 0px;
}

.summary-button{
    padding: 20px 15px;
    font-size: 20px;
    background-color: #ffb366;
    display: flex;
    align-items: center;
    margin: 80px auto;
    outline: none;
    border:0;
    cursor: pointer;
    border-bottom-left-radius: 15% 100%;
    border-bottom-right-radius: 15% 100%;
    border-top-left-radius: 15% 100%;
    border-top-right-radius: 15% 100%;
}

.shopping-cart-icon{
    font-size: 50px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    padding-left: 10px;
}
.selected-items{
    font-size: 30px;
    font-weight: 800;
    padding: 0px 20px;
}

.items-summary{
    font-size: 16px;
    font-style:italic;
    padding-right: 20px;
}

@media only screen and (max-width: 600px) {
    .summary-button {
      margin: 80px 10px;
    }
    .purchase-tickets-title{
        text-align: center;
    }
  }

  .card-main-info{
    display: flex;
    justify-content: space-between;
}
.tick-it-easy-card{
    width: 320px;
    border-radius: 10px;
    height: 120px;
    background-color: white;
    margin: 10px 0px;
    color:black;
}
.travel-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding: 0px auto;
}

@media only screen and (max-width: 400px) {
    .travel-cards {
        display: flex;
        justify-content: center;
        flex-wrap:wrap;
        padding: 0px auto;
    }
  }
.card-last-row{
    display: flex;
}
.create-icon{
    margin: 0px 10px 0px auto;
    background-color: transparent;
    border:0;
}

.delete-icon{
    background-color: transparent;
    border:0;
}