<div class="tick-it-easy-profile" *ngIf="auth.userProfile$ | async as profile">
    <div class="profile-info" *ngIf="profile.given_name"><span class="profile-titles">First Name:</span>{{ profile.given_name}}</div>
    <div class="profile-info" *ngIf="profile.family_name"><span class="profile-titles">Last Name:</span>{{ profile.family_name}}</div>
    <div class="profile-info"><span class="profile-titles">Name:</span>{{ profile.name}}</div>
    <div class="profile-info"><span class="profile-titles">Nickname:</span>{{ profile.nickname}}</div>
    <div class="profile-info"><span class="profile-titles">Email:</span>{{ profile.email}}</div>
    <div class="profile-info"><span class="profile-titles">Email verified:</span>{{ profile.email_verified}}</div>
    <div class="profile-info"><span class="profile-titles">Updated at:</span>{{ profile.updated_at}}</div>
</div>
